<div data-role="header">
  <% if current_user %>
    <h1>    Logged in as <%= current_user.email %>.</h1>
<%= link_to "Log out", log_out_path %>
<%else%>
  <h1> not logged in</h1>
<% end %>
<%= link_to 'Add', new_user_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>
 
<div data-role="content">
  <ul data-role="listview">
    <% @users.each do |user| %>
    <li>
    <%=link_to user.username, user%>
    <%= user.pword %>
    <%=user.email%>
    <%=user.firstname %>
    <%=user.lastname %>
   <%= link_to 'edit user', edit_user_path(user), "data-icon" => "gear" %>
    </li>
    <% end %>
  </ul>
</div>
