<div data-role="header">
  <h1>Events </h1>
<%= link_to "Home", root_path %>
</div>
 
<div data-role="content">
  <div>
    <%=link_to "Next",events_path(:year=>@year.to_i+1)%>
    <%=@year%>
    <%=link_to "Last",events_path(:year=>@year.to_i-1)%>
  </div>
  <br/>

  <ul data-role="listview">
    <% @events.each do |event| %>
    <li>
    <%=link_to event.title, photos_path(:eventid=>event.s),:rel=>"external"%><br/>
    </li>
    <% end %>
  </ul>
</div>
